.modelo__horizontal {
    display: flex;
    gap: 1rem;
}

.modelo__vertical {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modelo__centralizado {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modelo__inicial {
    align-items: start;
    justify-content: start;
    text-align: start;
}

.modelo__quebra {
    flex-wrap: wrap;
}

.modelo__cor-laranja {
    background: #eb9800;
}